<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.spring.dao.PersonMapper" >
    <resultMap id="BaseResultMap" type="com.spring.pojo.Person" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="email" property="email" jdbcType="VARCHAR" />
        <association property="dept" javaType="com.spring.pojo.Dept">
            <id property="id" column="dept_id"/>
            <result property="name" column="dept_name"/>
            <collection property="personList" ofType="com.spring.pojo.Person"
                        column="id" javaType="ArrayList"
                        fetchType="lazy" select="getListByDeptId">
                <id property="id" column="id"/>
                <result property="name" column="name"/>
                <result column="email" property="email" jdbcType="VARCHAR" />
            </collection>
        </association>
    </resultMap>

    <select id="getById" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
       select p.id id,p.name name,p.email email,dept_id,d.name dept_name from person p, dept d where p.dept_id = d.id and p.id=#{id}
    </select>

    <resultMap id="PersonMap" type="com.spring.pojo.Person" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="email" property="email" jdbcType="VARCHAR" />
    </resultMap>
    <select id="getListByDeptId" resultMap="PersonMap" parameterType="java.lang.Integer" >
       select * from person where dept_id=#{deptId}
    </select>

</mapper>